@use "../abstracts/variables";
@use "../abstracts/mixins";


//title balls
.main__background-ball {
  position: absolute;
  width: 31px;
  height: 31px;
  border-radius: 50%;

}

.ball-red {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05);
  border: none;
  background: variables.$red-gradient;
}
.ball-blue {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05);
  border: none;
  background: variables.$blue-gradient;
}

.ball-1 {
  top: 32%;
  right: -15px;
}

.ball-2 {
  top: 48%;
  left: 10%;
}

.ball-3 {
  top: 65%;
  right: 22%;
}

.ball-4 {
  top: 85%;
  left: 28%;
}


// title dots
.blue-dots {
  display: flex;
  gap: 13px;
  position: absolute;
  left: 138px;
  top: 56px;

  .blue-dot {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background: variables.$blue-color;
  }
}

.red-dots {
  display: flex;
  gap: 13px;
  position: absolute;
  left: 138px;
  bottom: -20px;

  .red-dot {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background: variables.$red-color;
  }
}

//About dots
.about__dots {
  display: grid;
  width: 100px;
  grid-template-columns: 13px 13px 13px 13px 13px 13px;
  grid-template-rows: 13px 13px 13px 13px;
  z-index: -1;
}

.orange-dots {
  position: absolute;
  top: -12px;
  left: -16px;
}

.purple-dots {
  position: absolute;
  bottom: -12px;
  right: -46px;
}

.about__dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.orange {
  background: #FF5C00;
}

.purple {
  background: #EB00FF;
}

@media screen and (max-width: 390px) {
  .main__background-ball {
    width: 16px;
    height: 16px;
  }

  // title dots
  .blue-dots {
    left: 200px;
    top: 40px;

  }

  .red-dots {
    left: 20px;
    bottom: -10px;

  }
}
