@use "../abstracts/variables";
@use "../abstracts/mixins";

.transparent_button {
  @include mixins.button-transparent;
  border: 1px solid variables.$blue-color;
  border-radius: 24px;
  padding: 12px 50px;
  cursor: pointer;

  font-family: quicksand-bold, sans-serif;
  font-size: variables.$btn-font-size;
}

.transparent_button:hover {
  @include mixins.button;
  border: 1px solid variables.$blue-color;
  border-radius: 24px;
  padding: 12px 50px;
  cursor: pointer;

  font-family: quicksand-bold, sans-serif;
  font-size: variables.$btn-font-size;
  transition: .5s;
}

.button {
  @include mixins.button;
  border: 1px solid variables.$blue-color;
  border-radius: 24px;
  padding: 12px 50px;
  cursor: pointer;

  font-family: quicksand-bold, sans-serif;
  font-size: variables.$btn-font-size;
}

.button:hover {
  @include mixins.button-transparent;
  border: 1px solid variables.$blue-color;
  border-radius: 24px;
  padding: 12px 50px;
  cursor: pointer;
  transition: .5s;

  font-family: quicksand-bold, sans-serif;
  font-size: variables.$btn-font-size;
}

@media screen and (max-width: 390px) {
  .transparent_button {
    padding: 10px 35px;
    font-size: 12px;
  }

  .transparent_button:hover {
    padding: 10px 35px;
    font-size: 12px;
  }

  .button {
    padding: 10px 35px;
    font-size: 12px;
  }

  .button:hover {
    padding: 10px 35px;
    font-size: 12px;
  }
}