@use "../abstracts/mixins";
@use "../abstracts/variables";

.nav {
  @include mixins.flex-center;
  justify-content: space-between;

  .nav__menu {
    display: flex;
    gap: 50px;
    font-family: Quicksand-Regular, sans-serif;
    font-size: variables.$nav-font-size;

    .nav__menu-link:active {
      font-family: Quicksand-bold,sans-serif;
    }
    .nav__menu-link:focus {
      font-family: Quicksand-bold,sans-serif;
      outline: none;
    }

    .nav__menu-link:hover {
      font-family: Quicksand-bold,sans-serif;
    }
  }
}