@use "../abstracts/variables";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin button-transparent {
  color: variables.$blue-color;
  background: none;
}

@mixin button {
  color: white;
  background: variables.$blue-color;
  box-shadow: 0 4px 8px rgba(55, 125, 255, 0.5);

}

@mixin info-card{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

@mixin card {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.10);
  border-radius: 30px;
}

$breakpoints: (
  mobile: 576px
);

@mixin respond($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
