@use "../abstracts/variables";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-transparent {
  color: variables.$blue-color;
  background: none;
}

@mixin button {
  color: white;
  background: variables.$blue-color;
}
