//colors:
$h1-color: #1D1D1D;
$regular-color: #464646;
$blue-color: #377DFF;

//font-size:
$regular-font-size: 20px;
$nav-font-size: 18px;
$btn-font-size: 16px;
$bold-font-size: 55px;
$semi-bold-font-size: 24px;