*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Nunito_bold";
  src: url("/assets/fonts/Nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Nunito_extrabold";
  src: url("/assets/fonts/Nunito/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Nunito-Light";
  src: url("/assets/fonts/Nunito/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito-SemiBold";
  src: url("/assets/fonts/Nunito/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Nunito-Regular";
  src: url("/assets/fonts/Nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand-bold";
  src: url("/assets/fonts/Quicksand/Quicksand-Bold.ttf") format("truetype"), url("/assets/fonts/Quicksand/Quicksand-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("/assets/fonts/Quicksand/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header {
  padding-top: 72px;
  color: #1D1D1D;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.nav .nav__menu {
  display: flex;
  gap: 50px;
  font-family: Quicksand-Regular, sans-serif;
  font-size: 18px;
}
.nav .nav__menu .nav__menu-link:active {
  font-family: Quicksand-bold, sans-serif;
}
.nav .nav__menu .nav__menu-link:focus {
  font-family: Quicksand-bold, sans-serif;
  outline: none;
}
.nav .nav__menu .nav__menu-link:hover {
  font-family: Quicksand-bold, sans-serif;
}

.nav__logo-link {
  display: flex;
  align-items: center;
}
.nav__logo-link .nav__logo-image {
  width: 52.39px;
  height: 49.89px;
}
.nav__logo-link .nav__logo-text {
  display: flex;
  flex-direction: column;
  gap: 3.99px;
  padding-left: 10.77px;
}
.nav__logo-link .nav__logo-text .nav__logo-upper_text {
  font-family: Quicksand-bold, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
.nav__logo-link .nav__logo-text .nav__logo-under_text {
  font-family: Quicksand-Regular, sans-serif;
  font-size: 16px;
  font-weight: 200;
}

.transparent_button {
  color: #377DFF;
  background: none;
  border: 1px solid #377DFF;
  border-radius: 24px;
  padding: 12px 50px;
  cursor: pointer;
  font-family: quicksand-bold, sans-serif;
  font-size: 16px;
}

.transparent_button:hover {
  color: white;
  background: #377DFF;
  box-shadow: 0 4px 8px rgba(55, 125, 255, 0.5);
  border: 1px solid #377DFF;
  border-radius: 24px;
  padding: 12px 50px;
  cursor: pointer;
  font-family: quicksand-bold, sans-serif;
  font-size: 16px;
  transition: 0.5s;
}

.button {
  color: white;
  background: #377DFF;
  box-shadow: 0 4px 8px rgba(55, 125, 255, 0.5);
  border: 1px solid #377DFF;
  border-radius: 24px;
  padding: 12px 50px;
  cursor: pointer;
  font-family: quicksand-bold, sans-serif;
  font-size: 16px;
}

.button:hover {
  color: #377DFF;
  background: none;
  border: 1px solid #377DFF;
  border-radius: 24px;
  padding: 12px 50px;
  cursor: pointer;
  transition: 0.5s;
  font-family: quicksand-bold, sans-serif;
  font-size: 16px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #1D1D1D;
  padding-top: 68px;
}

.main__title {
  width: 749px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__title .main__title-heading {
  font-family: "Nunito_extrabold", sans-serif;
  font-size: 64px;
  text-align: center;
  line-height: 87px;
}
.main__title .main__title-subtitle {
  font-family: "Nunito-Regular", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #464646;
  line-height: 150%;
  padding-top: 24px;
  padding-bottom: 32px;
}

.main__image-block {
  padding-top: 76px;
  position: relative;
}
.main__image-block .main__image-block-image {
  width: 739px;
  height: 501px;
}
.main__image-block .main__image-block-great-block {
  position: absolute;
  top: 100px;
  left: -100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  width: 175px;
  height: 95px;
  gap: 7px;
}
.main__image-block .main__image-block-great-block .great-block__header {
  display: flex;
  gap: 3px;
}
.main__image-block .main__image-block-great-block .great-block__header .great-block__header-text {
  font-family: "Quicksand-bold", sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1D1D1D;
}
.main__image-block .main__image-block-great-block .great-block__content {
  display: flex;
  gap: 3px;
}
.main__image-block .main__image-block-great-block .great-block__content p {
  font-size: 24px;
}
.main__image-block .main__image-block-great-block .great-block__content .great-block__content-bold {
  font-family: "Nunito-bold", sans-serif;
}
.main__image-block .main__image-block-great-block .great-block__content .great-block__content-regular {
  font-family: "Nunito-Regular", sans-serif;
}
.main__image-block .main__image-block-review {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  align-items: flex-start;
  position: absolute;
  padding: 27px 20px 25px 21px;
  bottom: 0;
  right: -100px;
}
.main__image-block .main__image-block-review .review__header {
  display: flex;
  gap: 10px;
  padding-bottom: 12px;
}
.main__image-block .main__image-block-review .review__header .review__header-image {
  width: 32px;
  height: 32px;
}
.main__image-block .main__image-block-review .review__header .review__header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main__image-block .main__image-block-review .review__header .review__header-text .review__header-text-title {
  font-family: "Quicksand-bold", sans-serif;
  font-size: 10px;
  line-height: 13px;
  color: #1D1D1D;
}
.main__image-block .main__image-block-review .review__header .review__header-text .review__header-text-subtitle {
  font-family: "Quicksand-bold", sans-serif;
  font-size: 6px;
  line-height: 8px;
  color: #1D1D1D;
}
.main__image-block .main__image-block-review .review__content {
  font-family: "Nunito-bold", sans-serif;
  font-size: 10px;
  line-height: 14px;
  width: 125px;
}

.main__background-ball {
  position: absolute;
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.ball-red {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05);
  border: none;
  background: linear-gradient(180deg, #FF8E8E 0%, #F62424 100%);
}

.ball-blue {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05);
  border: none;
  background: linear-gradient(180deg, #4485FF 0%, #377DFF 100%);
}

.ball-1 {
  top: 32%;
  right: -15px;
}

.ball-2 {
  top: 48%;
  left: 10%;
}

.ball-3 {
  top: 65%;
  right: 22%;
}

.ball-4 {
  top: 85%;
  left: 28%;
}

.blue-dots {
  display: flex;
  gap: 13px;
  position: absolute;
  left: 138px;
  top: 56px;
}
.blue-dots .blue-dot {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background: #377DFF;
}

.red-dots {
  display: flex;
  gap: 13px;
  position: absolute;
  left: 138px;
  bottom: -20px;
}
.red-dots .red-dot {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background: #F62424;
}

.about__dots {
  display: grid;
  width: 100px;
  grid-template-columns: 13px 13px 13px 13px 13px 13px;
  grid-template-rows: 13px 13px 13px 13px;
  z-index: -1;
}

.orange-dots {
  position: absolute;
  top: -12px;
  left: -16px;
}

.purple-dots {
  position: absolute;
  bottom: -12px;
  right: -46px;
}

.about__dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.orange {
  background: #FF5C00;
}

.purple {
  background: #EB00FF;
}

.main__about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
}
.main__about-us .about__us-subtitle {
  color: #377DFF;
  font-size: 24px;
  font-family: "Quicksand-bold", sans-serif;
  line-height: 24px;
  padding-bottom: 20px;
}
.main__about-us .about__heading {
  color: #1D1D1D;
  font-family: "Nunito-bold", sans-serif;
  font-size: 55px;
  padding-bottom: 38px;
}
.main__about-us .about__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
}
.main__about-us .about__image-group {
  position: relative;
}
.main__about-us .about__image-group .image-group__image {
  width: 565px;
  height: 402px;
}
.main__about-us .about__content-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.main__about-us .about__content-group .about__content-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.main__about-us .about__content-group .about__content-text .about__content-text-item {
  font-family: "Quicksand-Regular", sans-serif;
  font-size: 20px;
  color: #464646;
  line-height: 32px;
}
.main__about-us .about__content-group .about__content-btns {
  display: flex;
  gap: 25px;
}
.main__about-us .about__content-group .about__content-btns .transparent_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/*# sourceMappingURL=main.css.map */
